[submodule "FW\Router"]
	path = Router
	url = https://github.com/smeeckaert/router

[submodule "FW\ORM"]
	path = Orm
	url = https://github.com/smeeckaert/orm

[submodule "FW\Tools"]
	path = Tools
	url = https://github.com/smeeckaert/tools

[submodule "FW\Controller"]
	path = Controller
	url = https://github.com/smeeckaert/controller
